#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    row-gap: 1px;
    column-gap: 1px;
    padding: 1px;

    width: 700px;
    height: 700px;

    background-color: #1f1f1f;
}

.div-block:hover {
    border: 4px inset blue;
}

.fill-0 {
    background-color: white;
}

.fill-1 {
    background-color: #cccccc;
}

.fill-2 {
    background-color: #999999;
}

.fill-3 {
    background-color: #6d6d6d;
}

.fill-4 {
    background-color: #424242;
}

.fill-5 {
    background-color: #1d1d1d;
}

#reset-btn {
    margin: 1rem;
}